<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <div class="alert alert-danger">
            <li><%= error.full_message %></li>
          </div>
          
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, class: "col-sm-2 col-form-label", style: "display: block" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :last_name, class: "col-sm-2 col-form-label", style: "display: block" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :email_address, class: "col-sm-2 col-form-label", style: "display: block" %>
    <%= form.text_field :email_address, class: "form-control" %>
  </div>

  <div>
    <%= form.label :phone, class: "col-sm-2 col-form-label", style: "display: block" %>
    <%= form.number_field :phone, class: "form-control" %>
  </div>

  <div>
    <%= form.label :friends_since, class: "col-sm-2 col-form-label", style: "display: block" %>
    <%= form.date_field :friends_since, class: "form-control" %>
  </div>
  </br>
  <div>
    <%= form.submit class: "btn btn-outline-dark"%>
  </div>
<% end %>
